.top-downloaded ul li {
    border-bottom: 1px solid #27292a;
    margin-bottom: 28px;
    padding-bottom: 28px;
    margin-top: 28px;
}

.top-downloaded ul li img {
    float: left;
    margin-right: 15px;
}

.top-downloaded ul li h4 {
    font-size: 15px;
    padding-top: 7px;
}

.top-downloaded ul li h6 {
    font-size: 15px;
    color: #666;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}

.top-downloaded ul li span {
    color: #fff;
    font-size: 15px;
    margin-right: 10px;
}

.top-downloaded ul li img {
    float: left;
    margin-right: 15px;
    max-width: 100px;
    border-radius: 23px;
    
}
