.most-popular-clips {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
}

.space-between {

  border-top: 1px solid var(--color-primary);
  margin-top: 25px;
  justify-content: space-between;
  margin-bottom: 25px;
  
}

.profile-img {
 
  border-radius: 23px;
  flex: 0 0 auto;
  width: 80%;
}

.main-info span{
    font-size: 14px;
    color: #fff;
    background-color: #e75e8d;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.main-info h4{
  margin-bottom: 20px;

}

.main-info p{
  font-size: 15px;
  color: #666;
  line-height: 30px;
  margin-bottom: 0px;
}

.main-info-btn {
  margin-top: 25px;
}

.main-info-stats ul{
  border-radius: 23px;
    padding: 30px;
    background-color: #27292a
}

.main-info-stats ul li{
  width: 100%;
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #666

}

.main-info-stats span{
  float: right;
  font-weight: 500;
  color: #ec6090;

}

.most-popular-clips-btn{
  margin-top: 50px;
  text-align: center;
}

.title {
  margin-bottom: 25px;
  margin-top: 25px;
}


