.s2-wrapper {
    background-color: var(--color-darkest);
    border-radius: 23px;
    padding: 30px;
}
  

.s3-wrapper {
    border-radius: 23px;
    background-color: var(--color-darkest);
    padding: 30px;
    max-height: 567px;
    min-height: 567px;

}

