.most-popular-clip {
    flex: 1 25%
}

.cardpio-wrapper {
    background-color: var(--color-dark);
    border-radius: calc(var(--border-radius-primary) / 2);
    padding: calc(var(--padding-primary) / 2);
    margin: calc(var(--margin-primary) / 5);
} 

.most-popular-clip-image {
    width: 100%;
    border-radius: calc(var(--border-radius-primary) / 4);
    margin-bottom: calc(var(--margin-primary) / 2);
    
}

.most-popular-clip-content { 
    display: flex;
    justify-content: space-between;

}

.most-popular-clip-title {
    font-size: 14px;
    line-height: 1.5rem; 
}

.play{
    position: absolute;
    transform: translate(-110px, 40px);
    width: 46px;
    height: 46px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    color: #ec6090;
    
}